{% extends "base.html" %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-8">
        <div class="card">
            <div class="card-header">
                <h3>Создать услугу</h3>
            </div>
            <div class="card-body">
                <form method="POST">
                    {{ form.hidden_tag() }}
                    <div class="mb-3">
                        {{ form.title.label() }}
                        {{ form.title(class="form-control") }}
                    </div>
                    <div class="mb-3">
                        {{ form.description.label() }}
                        {{ form.description(class="form-control", rows=5) }}
                    </div>
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            {{ form.basic_price.label() }}
                            {{ form.basic_price(class="form-control") }}
                        </div>
                        <div class="col-md-6 mb-3">
                            {{ form.basic_delivery.label() }}
                            {{ form.basic_delivery(class="form-control") }}
                        </div>
                    </div>
                    <div class="mb-3">
                        {{ form.basic_features.label() }}
                        {{ form.basic_features(class="form-control", rows=3) }}
                    </div>
                    {{ form.submit(class="btn btn-success w-100") }}
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}